@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.post-img {
    width: 140px;
    height: 140px;
}
.sm-post-img {
    width: 280px;
    max-width: 100%;
}
